@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Nunito_Sans/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/Nunito_Sans/nunitosans-regular-webfont.woff") format("woff"),
    url("/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Nunito_Sans/nunitosans-italic-webfont.woff2")
      format("woff2"),
    url("/fonts/Nunito_Sans/nunitosans-italic-webfont.woff") format("woff"),
    url("/fonts/Nunito_Sans/NunitoSans-Italic.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Nunito_Sans/nunitosans-semibold-webfont.woff2")
      format("woff2"),
    url("/fonts/Nunito_Sans/nunitosans-semibold-webfont.woff") format("woff"),
    url("/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Nunito_Sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("/fonts/Nunito_Sans/nunitosans-bold-webfont.woff") format("woff"),
    url("/fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: NunitoSans Override;
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 102.68%;
  descent-override: 28.51%;
  line-gap-override: 0%;
  size-adjust: 101.57%;
}
@font-face {
  font-family: NunitoSans Override;
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 102.68%;
  descent-override: 28.51%;
  line-gap-override: 0%;
  size-adjust: 101.57%;
}
@font-face {
  font-family: NunitoSans Override;
  font-style: normal;
  font-weight: 600;
  src: local('Arial Bold');
  ascent-override: 109.61%;
  descent-override: 30.62%;
  line-gap-override: 0.00%;
  size-adjust: 95.51%;
}
@font-face {
  font-family: NunitoSans Override;
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 107.76%;
  descent-override: 30.50%;
  line-gap-override: 0.00%;
  size-adjust: 97.51%;
}