@tailwind base;
@tailwind components;
@tailwind utilities;

/* Since dark/light class is set at html level, we can't declare styles inline  */
html.light {
   @apply bg-zinc-50;
}

html.dark {
   @apply bg-[#242425];
}
table {
   @apply border-collapse;
}
th {
   @apply bg-2 border border-zinc-200 p-3 dark:border-bg4Dark;
}
td {
   @apply bg-3 border border-zinc-200 p-3 dark:border-bg4Dark;
}

@layer base {
   .border-color {
      @apply border-[#ededed] dark:border-[#36393e];
   }
}
h2 {
   @apply mb-1.5 mt-6 font-header text-[22px] font-bold dark:text-zinc-200;
}
h3 {
   @apply mb-1.5 pt-3 font-header text-[18px] font-bold dark:text-zinc-200;
}
@layer components {
   .input-text {
      @apply border-color
        focus:bg-2
        bg-3
        mt-1
        block h-11 w-full
      rounded-md border focus:border-zinc-200
        focus:ring-0 dark:placeholder:text-zinc-300 focus:dark:border-zinc-700;
   }
   .divide-color {
      @apply divide-[#ededed] dark:divide-[#36393e];
   }
   .outline-color {
      @apply outline-[#ededed] dark:outline-[#36393e];
   }
   .shadow-1 {
      @apply shadow-zinc-300 dark:shadow-black/30;
   }
   .shadow-2 {
      @apply shadow-zinc-500 dark:shadow-black;
   }
   .bg-1 {
      @apply bg-zinc-100 dark:bg-[#212324];
   }
   .bg-2 {
      @apply bg-zinc-50 dark:bg-[#282A2B];
   }
   .bg-3 {
      @apply bg-white dark:bg-[#2E3132];
   }
   .bg-4 {
      @apply bg-white dark:bg-[#3D4042];
   }
   .bg-5 {
      @apply bg-zinc-50 dark:bg-bg4Dark;
   }
   .text-1 {
      @apply text-zinc-500 dark:text-zinc-400;
   }
}

/* Loader */
.blue-circle {
   animation-delay: 0.1s;
}
.emerald-circle {
   animation-delay: 0.2s;
}
.yellow-circle {
   animation-delay: 0.3s;
}
.violet-circle {
   animation-delay: 0.4;
}

/* Default Editor Styles */
.post-content ul {
   @apply mb-5 list-disc space-y-1.5 pl-7;
}
.post-content ol {
   @apply mb-5 list-decimal space-y-1.5 pl-7;
}
.post-content blockquote {
   @apply text-1 border-color my-4 border-l-2 pl-3 italic;
}
.post-content p {
   @apply !mb-3;
}
.post-content code {
   @apply rounded bg-zinc-200 px-[4px] py-[3px] text-sm dark:bg-zinc-700;
}
.post-content pre > code {
   @apply !bg-transparent p-0;
}
.post-content {
   @apply break-words;
}
.post-content h2 {
   @apply border-color !mb-3 border-b pb-3 pt-8 text-2xl font-bold text-light dark:text-dark;
}
.post-content a {
   @apply text-blue-500;
}
