@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
   .rtl {
       direction: rtl;
   }
}

@layer base {
   html {
      -webkit-tap-highlight-color: transparent;
      @apply overflow-y-scroll;
    }
   .border-color {
      @apply border-[#ededed] dark:border-[#36393e];
   }
   table {
      @apply border-collapse;
   }
   th {
      @apply bg-2 border border-zinc-200 p-3 dark:border-bg4Dark;
   }
   td {
      @apply bg-3 border border-zinc-200 p-3 dark:border-bg4Dark;
   }
}

/* Since dark/light class is set at html level, we can't declare styles inline  */

html.light {
   @apply bg-zinc-50;
}

html.dark {
   @apply bg-bg2Dark;
}

@layer components {
   .input-text {
      @apply border-color
        focus:bg-2
        bg-3
        mt-1
        block h-11 w-full
      rounded-md border focus:border-zinc-200
        focus:ring-0 dark:placeholder:text-zinc-300 focus:dark:border-zinc-700;
   }
   .divide-color {
      @apply divide-[#ededed] dark:divide-[#36393e];
   }
   .outline-color {
      @apply outline-[#ededed] dark:outline-[#36393e];
   }
   .shadow-1 {
      @apply shadow-zinc-300 dark:shadow-black/30;
   }
   .shadow-2 {
      @apply shadow-zinc-500 dark:shadow-black;
   }
   .bg-1 {
      @apply bg-zinc-100 dark:bg-[#212324];
   }
   .bg-2 {
      @apply bg-zinc-50 dark:bg-[#282A2B];
   }
   .bg-3 {
      @apply bg-white dark:bg-[#2E3132];
   }
   .bg-4 {
      @apply bg-white dark:bg-[#3D4042];
   }
   .bg-5 {
      @apply bg-zinc-50 dark:bg-bg4Dark;
   }
   .text-1 {
      @apply text-zinc-500 dark:text-zinc-400;
   }
}

/* Loader */
.blue-circle {
   animation-delay: 0.1s;
}
.emerald-circle {
   animation-delay: 0.2s;
}
.yellow-circle {
   animation-delay: 0.3s;
}
.violet-circle {
   animation-delay: 0.4;
}

/* --------------- Editor  ---------------*/
.editor-ol{
   @apply space-y-1.5 list-decimal pl-5 mb-3;
}
.editor-ol .editor-ol{
   @apply list-[lower-alpha]
}
.editor-ol .editor-ol .editor-ol{
   @apply list-[lower-roman]
}

.editor-ul{
   @apply list-disc space-y-1.5 pl-5 mb-3;
}
.editor-ul .editor-ul{
   @apply list-[circle];
}
.editor-ul .editor-ul .editor-ul{
   @apply list-[square];
}


/* --------------- Date/Time Picker  ---------------*/
 
/* Time Picker */
.stp {
  @apply bg-white dark:bg-bg3Dark px-1.5 pb-1 items-center border border-color outline-none rounded-lg shadow-1 shadow-sm inline-flex;
 }
 
 .stp--disabled {
  @apply pointer-events-none;
 }
 
 .stp--divider__disabled {
  @apply opacity-50;
 }
 
 .stp * {
  @apply outline-none;
 }
 
 .stp:focus {
  @apply ring-1 ring-blue-300;
 }
 
 .stp > p {
  @apply my-0 mx-0.5 inline;
 }

.sassy--select {
  @apply border-0 align-middle inline rounded px-1 py-0.5;
 }
 
 .sassy--select__container {
  @apply rounded relative;
   border-radius: 0.25rem;
   position: relative;
 }
 
 .sassy--select:focus {
  @apply outline-none ring-blue-300;
 }
 
 .sassy--select.sassy--select__disabled {
   opacity: var(--disabled-opacity);
   pointer-events: none;
 }
 
 .sassy--select.sassy--select__disabled:focus {
  @apply shadow-none;
 }
 
 .sassy--select__dropdown {
  @apply bg-white dark:bg-bg3Dark top-6 p-2 max-h-[40vh] rounded-lg absolute z-10 shadow shadow-1 border border-color overflow-auto flex flex-col;
   scrollbar-width: none;
 }
 
 .sassy--select__dropdown::-webkit-scrollbar {
  @apply hidden;
 }
 
 .sassy--select,
 .sassy--option {
  @apply text-xs font-bold;
 }
 
 .sassy--option:focus {
  @apply outline-none ring-blue-300;
 }
 
 .sassy--option__disabled {
  @apply text-zinc-600 dark:text-zinc-500 pointer-events-none;
 }
 
 .sassy--select:hover {
  @apply cursor-context-menu;
 }
 
 .sassy--option {
  @apply bg-white dark:bg-bg3Dark cursor-pointer py-1 px-2 border-0 rounded mt-1;
   transition: all 0.1s ease;
 }
 
 .sassy--option:first-of-type {
  @apply mt-0;
 }
 
 .sassy--option__active,
 .sassy--option:hover {
  @apply shadow-sm shadow-1 !bg-blue-500 text-white;
 }
 
 /* Date Picker */
 .sdp {
  @apply bg-white dark:bg-bg3Dark border border-color w-full rounded-lg shadow-sm shadow-1 p-3;
 }
 
 .sdp--disabled {
  @apply pointer-events-none;
 }
 
 .sdp:focus,
 .sdp--month-name:focus,
 .sdp--square-btn:focus {
  @apply outline-none ring-1 ring-blue-300 dark:ring-blue-400;
 }
 
 .sdp--month-name {
   padding: 0.5rem;
   border: none;
   border-radius: 0.5rem;
 }
 
 .sdp--text {
   font-weight: 500;
   margin: 0;
 }
 
 .sdp--text__inactive {
  @apply text-zinc-300 dark:text-zinc-500 pointer-events-none;
   pointer-events: none;
 }
 
 .sdp--square-btn {
  @apply bg-white dark:bg-bg3Dark border-0 cursor-pointer rounded-md items-center justify-center flex w-7 h-7;
   transition: all 0.2s ease-in-out;
 }
 
 .sdp--square-btn__outlined {
  @apply border border-color;
 }
 
 .sdp--square-btn__outlined:focus:hover {
  @apply border border-color;
 }
 
 .sdp--square-btn:focus:hover {
  @apply shadow-none;
 }
 
 .sdp--square-btn__shadowed {
  @apply shadow-sm shadow-1;
 }
 
 .sdp--square-btn__shadowed:focus:hover {
  @apply shadow-sm shadow-1;
 }
 
 .sdp--date-btn__selected {
  @apply !bg-blue-500 text-white shadow-sm shadow-1;
 }
 
 .sdp--date-btn__selected.sdp--square-btn:focus {
  @apply shadow-sm shadow-1;
 }
 
 .sdp--header {
  @apply flex justify-between items-center;
 }
 
 .sdp--grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 4px;
   margin: 0.5rem 0 0;
   justify-items: center;
 }
 
 .sdp--grid > p.sdp--text {
  @apply py-2 px-0;
 }
 
 .sdp--header__main {
  @apply flex justify-center font-bold items-center;
 }
 
 .sdp--select__month button {
  @apply text-left;
 }
 