@tailwind base;
@tailwind components;
@tailwind utilities;

/* Since dark/light class is set at html level, we can't declare styles inline  */
html.light {
   @apply bg-zinc-50;
}

html.dark {
   @apply bg-zinc-900;
}

@layer base {
   .border-color {
      @apply border-zinc-200 dark:border-zinc-700;
   }
}

@layer components {
   .input-text {
      @apply mt-1
        block
        h-10
        w-full
        rounded-md
        border-transparent bg-zinc-100 focus:border-zinc-200 focus:bg-zinc-50
        focus:ring-0 dark:bg-zinc-700 dark:placeholder:text-zinc-300 dark:focus:border-zinc-500 dark:focus:bg-zinc-600;
   }
   .label-default {
      @apply text-xs font-bold uppercase;
   }
   .border-1 {
      @apply border-zinc-100 dark:border-zinc-700/60;
   }
   .bg-1 {
      @apply bg-white dark:bg-zinc-900;
   }
   .bg-2 {
      @apply bg-zinc-50 dark:bg-zinc-800;
   }
   .text-1 {
      @apply text-zinc-500 dark:text-zinc-400;
   }
}

/* Loader */
.blue-circle {
   animation-delay: 0.1s;
}
.emerald-circle {
   animation-delay: 0.2s;
}
.yellow-circle {
   animation-delay: 0.3s;
}
.violet-circle {
   animation-delay: 0.4;
}

/* Default Editor Styles */
.post-content ul {
   @apply mb-5 list-disc space-y-1.5 pl-7;
}
.post-content ol {
   @apply mb-5 list-decimal space-y-1.5 pl-7;
}
.post-content blockquote {
   @apply border-l-2 pl-3 text-1 my-4 border-color italic;
}
.post-content p {
   @apply !mb-3;
}
.post-content code {
   @apply dark:bg-zinc-700 bg-zinc-200 rounded py-[3px] px-[4px] text-sm;
}
.post-content pre > code {
   @apply !bg-transparent p-0;
}
.post-content {
   @apply break-words;
}
.post-content h2 {
   @apply dark:text-dark border-b border-color font-bold text-2xl !mb-3 pb-3 pt-8 text-light;
}
.post-content h3 {
   @apply dark:text-dark font-bold text-xl pb-2 pt-4 text-light;
}
.post-content a {
   @apply text-blue-500;
}
.remirror-list-item-marker-container {
   @apply -left-6;
}
.remirror-collapsible-list-item-button {
   @apply dark:bg-dark bg-light w-1.5 h-1.5;
}
.remirror-editor-wrapper {
   @apply !pt-3.5;
}
.remirror-editor {
   @apply !rounded-none !p-0 font-body !shadow-none focus:!shadow-none;
}
.remirror-editor.ProseMirror {
   @apply overflow-y-visible;
}
