@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
   .rtl {
      direction: rtl;
   }
   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

@layer base {
   html {
      @apply overflow-y-scroll max-laptop:min-h-screen;
   }
   .border-color {
      @apply border-[#ededed] dark:border-darkBorder;
   }
   .border-color-secondary {
      @apply border-zinc-100 dark:border-darkBorder;
   }
   .border-color-sub {
      @apply border-[#ededed] dark:border-zinc-700;
   }
   h3 {
      @apply font-header dark:text-zinc-100 text-xl mt-4 pb-1 scroll-mt-32 laptop:scroll-mt-20;
   }
   /* table {
      @apply border-collapse;
   }
   th {
      @apply bg-2-sub border border-zinc-200 p-3 dark:border-zinc-700;
   }
   td {
      @apply bg-3 border border-zinc-200 p-3 dark:border-zinc-700;
   } */
}

/* Since dark/light class is set at html level, we can't declare styles inline  */

html.light {
   @apply bg-white;
}

html.dark {
   @apply bg-bg3Dark;
}

@layer components {
   audio::-webkit-media-controls-panel {
      @apply bg-zinc-200;
   }

   audio {
      @apply h-6 w-full;
   }

   input[type="range"] {
      @apply appearance-none bg-transparent !border-0;
   }

   input[type="range"]::-webkit-slider-runnable-track {
      @apply bg-zinc-200 dark:bg-dark500 rounded-full;
   }

   input[type="range"]::-moz-range-track {
      @apply bg-zinc-200 dark:bg-dark500 rounded-full;
   }

   input[type="range"]::-ms-track {
      @apply bg-zinc-200 dark:bg-dark500 rounded-full;
   }
   .divide-color {
      @apply divide-[#ededed] dark:divide-[#36393e];
   }
   .divide-color-sub {
      @apply divide-[#ededed] dark:divide-zinc-700;
   }
   .outline-color {
      @apply outline-[#ededed] dark:outline-[#36393e];
   }
   .shadow-1 {
      @apply shadow-zinc-300 dark:shadow-black/30;
   }
   .bg-1 {
      @apply bg-zinc-100 dark:bg-[#212324];
   }
   .bg-2 {
      @apply bg-zinc-50 dark:bg-[#282A2B];
   }
   .bg-2-sub {
      @apply bg-zinc-50 dark:bg-dark350;
   }
   .bg-3 {
      @apply bg-white dark:bg-[#2E3132];
   }
   .bg-3-sub {
      @apply bg-white dark:bg-dark400;
   }
   .bg-4 {
      @apply bg-white dark:bg-[#3D4042];
   }
   .bg-5 {
      @apply bg-zinc-50 dark:bg-dark400;
   }
   .text-1 {
      @apply text-zinc-500 dark:text-zinc-400;
   }
}

/* Loader */
.blue-circle {
   animation-delay: 0.1s;
}
.emerald-circle {
   animation-delay: 0.2s;
}
.yellow-circle {
   animation-delay: 0.3s;
}
.violet-circle {
   animation-delay: 0.4;
}

/* --------------- Editor  ---------------*/
.editor-ol {
   @apply mb-3 list-decimal space-y-1.5 pl-6;
}
.editor-ol .editor-ol {
   @apply list-[lower-alpha];
}
.editor-ol .editor-ol .editor-ol {
   @apply list-[lower-roman];
}

.editor-ul {
   @apply mb-3 list-disc space-y-1.5 pl-6;
}
.editor-ul .editor-ul {
   @apply list-[circle];
}
.editor-ul .editor-ul .editor-ul {
   @apply list-[square];
}

/* --------------- Rounded Table  ---------------*/

table.rounded-table {
   @apply rounded-lg border border-zinc-300/60 dark:border-zinc-600/60 border-spacing-0 border-separate shadow-sm shadow-zinc-100 dark:shadow-zinc-800/50;
}

table.default-table {
   @apply border border-zinc-300/60 dark:border-zinc-600/60;
}

table.default-table th,
table.default-table td {
   @apply border border-zinc-300/60 dark:border-zinc-600/60;
}

/* Apply a border to the right of all but the last column */
table.rounded-table th:not(:last-child),
table.rounded-table td:not(:last-child) {
   @apply border-zinc-300/60 dark:border-zinc-600/60 border-r;
}

/* Apply a border to the bottom of all but the last row */
table.rounded-table > thead > tr:not(:last-child) > th,
table.rounded-table > thead > tr:not(:last-child) > td,
table.rounded-table > tbody > tr:not(:last-child) > th,
table.rounded-table > tbody > tr:not(:last-child) > td,
table.rounded-table > tfoot > tr:not(:last-child) > th,
table.rounded-table > tfoot > tr:not(:last-child) > td,
table.rounded-table > tr:not(:last-child) > td,
table.rounded-table > tr:not(:last-child) > th,
table.rounded-table > thead:not(:last-child),
table.rounded-table > tbody:not(:last-child),
table.rounded-table > tfoot:not(:last-child) {
   @apply border-zinc-300/60 dark:border-zinc-600/60 border-b;
}

/* --------------- Date/Time Picker  ---------------*/

/* Time Picker */
.stp {
   @apply flex items-center focus:outline-none;
}

.stp--disabled {
   @apply pointer-events-none;
}

.stp--divider__disabled {
   @apply opacity-50;
}

.stp * {
   @apply outline-none;
}

.stp > p {
   @apply mx-0.5 my-0 inline;
}

.sassy--select {
   @apply inline rounded border-0 px-1 align-middle;
}

.sassy--select__container {
   @apply relative flex items-center rounded;
}

.sassy--select.sassy--select__disabled {
   opacity: var(--disabled-opacity);
   pointer-events: none;
}

.sassy--select.sassy--select__disabled:focus {
   @apply shadow-none;
}

.sassy--select__dropdown {
   @apply shadow-1 border-color absolute top-6 z-10 flex max-h-[40vh] flex-col overflow-auto rounded-lg border bg-white p-2 shadow dark:bg-bg3Dark;
   scrollbar-width: none;
}

.sassy--select__dropdown::-webkit-scrollbar {
   @apply hidden;
}

.sassy--select,
.sassy--option {
   @apply text-xs font-bold;
}

.sassy--option:focus {
   @apply outline-none ring-blue-300;
}

.sassy--option__disabled {
   @apply pointer-events-none text-zinc-600 dark:text-zinc-500;
}

.sassy--select:hover {
   @apply cursor-context-menu;
}

.sassy--option {
   @apply mt-1 cursor-pointer rounded border-0 bg-white px-2 py-1 dark:bg-bg3Dark;
   transition: all 0.1s ease;
}

.sassy--option:first-of-type {
   @apply mt-0;
}

.sassy--option__active,
.sassy--option:hover {
   @apply shadow-1 !bg-blue-500 text-white shadow-sm;
}

/* Date Picker */
.sdp {
   @apply w-full p-3 text-xs;
}

.sdp--disabled {
   @apply pointer-events-none;
}

.sdp--month-name {
   padding: 0.5rem;
   border: none;
   border-radius: 0.5rem;
}

.sdp--text {
   font-weight: 500;
   margin: 0;
}

.sdp--text__inactive {
   @apply pointer-events-none text-zinc-300 dark:text-zinc-500;
   pointer-events: none;
}

.sdp--square-btn {
   @apply flex h-7 w-7 cursor-pointer items-center justify-center rounded-md border-0;
   transition: all 0.2s ease-in-out;
}

.sdp--square-btn__outlined {
   @apply border-color border;
}

.sdp--square-btn__outlined:focus:hover {
   @apply border-color border;
}

.sdp--square-btn:focus:hover {
   @apply shadow-none;
}

.sdp--square-btn__shadowed {
   @apply shadow-1 shadow-sm;
}

.sdp--square-btn__shadowed:focus:hover {
   @apply shadow-1 shadow-sm;
}

.sdp--date-btn__selected {
   @apply shadow-1 !bg-zinc-500 text-white shadow-sm;
}

.sdp--date-btn__selected.sdp--square-btn:focus {
   @apply shadow-1 shadow-sm;
}

.sdp--header {
   @apply flex items-center justify-between;
}

.sdp--grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 4px;
   margin: 0.5rem 0 0;
   justify-items: center;
}

.sdp--grid > p.sdp--text {
   @apply px-0 py-2;
}

.sdp--header__main {
   @apply flex items-center justify-center font-bold;
}

.sdp--select__month button {
   @apply text-left;
}
