name: Fly Deploy - Home
on:
   push:
      branches:
         - main

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   deploy:
      name: Deploy home app
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - uses: superfly/flyctl-actions/setup-flyctl@master
         - run: flyctl deploy --config ./fly/fly.home.toml --depot
           env:
              FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
